﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

main{
    min-height: 100vh;
}


footer{

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.main {
    padding-left: 15px;
    padding-right: 15px;
}
